* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -o-linear-gradient(135deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(255, 53, 127) 100%);
  background-image: linear-gradient(-45deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(255, 53, 127) 100%);
  color: #444;
  font-family: "Space mono";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgba(55, 184, 180, 0.565);
  font-size: 15rem;
  text-align: center;
  opacity: 0.4;
  font-family: "Abril Fatface";
  margin: 0;
  letter-spacing: 10px;
  -webkit-animation: tracking-in-contract 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-contract 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
form {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::-webkit-input-placeholder {
  text-align: center;
  color: #d5d5d5;
}

.input::-moz-placeholder {
  text-align: center;
  color: #d5d5d5;
}

.input:-ms-input-placeholder {
  text-align: center;
  color: #d5d5d5;
}

.input::-ms-input-placeholder {
  text-align: center;
  color: #d5d5d5;
}

.input::placeholder {
  text-align: center;
  color: #d5d5d5;
}

.input:focus {
  outline-color: rgba(178, 131, 226, 0.663);
}

.todos {
  background-color: #fff;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  color: #b5b5b5;
  margin-top: 3rem;
  text-align: center;
}